<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


    <!-- 譲渡先が自家消費ではないもののgoyaの情報を載せたページを表示 -->
    <% result = connection.exec("select length, weight, quality, give_for, date from crops WHERE give_for != '自家消費';") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤの長さ：#{record["length"]}　ゴーヤの大きさ：#{record["weight"]}　ゴーヤの品質：#{record["quality"]}　売った相手：#{record["give_for"]}　ゴーヤの大きさ：#{record["weight"]}" %>
    <% end %>

    <form action="goya_not_self.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないもののゴーヤの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_not_self" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


    <!-- 品質が悪いもの（false）のgoyaの情報を載せたページを表示 -->
    <% result = connection.exec("select length, weight, quality, give_for, date from crops WHERE quality = false;") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤの長さ：#{record["length"]}　ゴーヤの大きさ：#{record["weight"]}　ゴーヤの品質：#{record["quality"]}　売った相手：#{record["give_for"]}　ゴーヤの大きさ：#{record["weight"]}" %>
    <% end %>

    <form action="goya_bad.cgi" method="POST">
       下記のボタンを押すと、品質が悪いもののゴーヤの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_bad" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

  </body>
</html>
